<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather</title>
    <!-- Required meta tags -->
    {{>headerlink}}
</head>

<body>

    {{>navbar}}
    <div class="container-fluid ">
        <div class="row parent">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-10 col-12 main_header_left align-items-center">
                        <figure class="errimg ">
                            <img src="images/404.svg" alt="aboutpic" class="img-fluid aboutpic" title="Shivank" />
                        </figure>


                        <b>
                            <p>Welcome to My World</p>
                        </b>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>

                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
    {{>footer}}
</body>

</html>