<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather</title>
    <!-- Required meta tags -->
    {{>headerlink}}
</head>

<body>

    {{>navbar}}
    <div class="container-fluid ">
        <div class="row parent">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure class="aboutpic mt-3">
                            <img src="images/banner-image1.png" alt="aboutpic" class="img-fluid aboutpic"
                                title="Shivank" />


                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left mt-0">
                        <b>
                            <p>Welcome to the My Portfolio</p>
                        </b>
                        <h1>I Am A <span>MERN Stack Developer</span> And A Programmer</h1>
                        <a href="/about"><button>About Me</button></a>

                    </div>





                </div>


            </div>
        </div>
    </div>
    </div>
    {{>footer}}
</body>

</html>